.gradle
local.properties
/.idea
.DS_Store
.idea
jrs-client-restlet-android-demo.iml
gradlew.bat
gradle.properties


*.apk
*.ap_
*.dex
*.class

bin/
gen/

Thumbs.db

.classpath
.project

build/

/*/out
/*/*/build
/*/*/production
*.iws
*.ipr
*~
*.swp